*{
    box-sizing:border-box;
}
<style> 
#header{
    background-color:grey;
    padding:12px;
    font-size:50px;
    color:black;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
color:white;
background-color: black;
}

li {
float: left;
}

li a {
display: block;
color:white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color:black;
}



li a.contact_us {
color: white;
background-color: #04AA6D;
}
.style{
    width:60;
    text-align:justify;
    float:left;
}
.astyle{
    width:40;
    text-align:justify;
    float:right;
}
</style>